body {
  background-color: #ffa8a8;
  color: #050733;
}

.Pommodoro {
  margin: 16px;
  max-width: 740px;
  margin: 50px auto;
  text-align: center;
}

.list {
  text-align: left;
}

.Pommodoro * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.Pommodoro ol li {
  margin-left: 20px;
}

.Pommodoro ol {
  padding: 20px;
}

.subtitle {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.timeLeft {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  padding: 20px;
}

.buttons__action,
.buttons__option {
  padding-bottom: 10px;
}

.button,
.button__start,
.button__pause {
  cursor: pointer;
  margin: 5px;
  padding: 5px 10px;

  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;

  transition: all 0.3s ease-out;
  background: #fff59e;
}

.button:hover,
.button__start:hover,
.button__pause:hover {
  filter: brightness(85%);
}

.button__start,
.button__pause {
  padding: 10px 15px;
}

.button__start {
  background: rgba(144, 238, 144, 1);
}

.button__pause {
  background: #ff7060;
}